/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../sass/feed/_header.scss */
.header {
  font-family: Sports;
  background: #111111 !important;
  color: white !important;
  margin: 0 !important;
  text-align: right !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  height: 35px !important;
}
/* line 12, ../../../sass/feed/_header.scss */
.header h1 {
  line-height: 35px !important;
  padding-right: 10px !important;
  font-size: 24px !important;
  margin-top: 9px !important;
}

@font-face {
  font-family: 'Sports';
  src: url("../fonts/octin_sports_rg-webfont.eot");
  src: url("../fonts/octin_sports_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/octin_sports_rg-webfont.woff") format("woff"), url("../fonts/octin_sports_rg-webfont.ttf") format("truetype"), url("../fonts/octin_sports_rg-webfont.svg#OctinSportsRgRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../../../sass/feed/feed.scss */
body {
  padding: 35px 0 0 0 !important;
  background: #eeeeee !important;
}
/* line 12, ../../../sass/feed/feed.scss */
body div.container {
  width: 100% !important;
  margin: 0 !important;
}

/* line 15, ../../../sass/feed/feed.scss */
ul.feed {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 19, ../../../sass/feed/feed.scss */
ul.feed li.team img {
  width: 40%;
}
/* line 25, ../../../sass/feed/feed.scss */
ul.feed li.player-headline img, ul.feed li.player-trivia img {
  width: 18%;
}
/* line 30, ../../../sass/feed/feed.scss */
ul.feed li.player-fact {
  background: #eee;
}
/* line 32, ../../../sass/feed/feed.scss */
ul.feed li.player-fact img {
  width: 9%;
}
/* line 35, ../../../sass/feed/feed.scss */
ul.feed li.player-fact div.title {
  font-size: 16px;
  font-weight: bold;
}
/* line 40, ../../../sass/feed/feed.scss */
ul.feed li {
  padding: 7px;
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 92%;
  display: block;
  background: #fff;
  margin: 6px auto;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* line 52, ../../../sass/feed/feed.scss */
ul.feed li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif !important;
}
/* line 63, ../../../sass/feed/feed.scss */
ul.feed li a div.divider {
  display: block;
  height: 5px;
}
/* line 68, ../../../sass/feed/feed.scss */
ul.feed li a div.title {
  display: inline;
  vertical-align: top;
  font-size: 15px !important;
  color: #000;
}
/* line 72, ../../../sass/feed/feed.scss */
ul.feed li a div.title a {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
/* line 75, ../../../sass/feed/feed.scss */
ul.feed li a div.description {
  display: inline;
  vertical-align: top;
  color: #666;
  font-size: 13px !important;
  line-height: 15px !important;
}
/* line 80, ../../../sass/feed/feed.scss */
ul.feed li a div.description a {
  color: #666666 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
/* line 84, ../../../sass/feed/feed.scss */
ul.feed li a img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-right: 8px;
}
