h1.logo {
	font-family: Sports;
	background: #111;
	color: #fff;
	margin: 0;
	padding: 4px;
	padding-right: 10px;
	font-size: 24px;
	text-align:right;
}

// player-trivia
// player-headline
// player-fact

// team
// definition