.header {
	font-family: Sports;
	background: #111 !important;
	color: #fff !important;
	margin: 0 !important;
	text-align:right !important;
	position: fixed !important;
	top: 0 !important;
	width: 100% !important;
	height: 35px !important;

	h1 {
		line-height: 35px !important;
		padding-right: 10px !important;
		font-size: 24px !important;
	}
}

// player-trivia
// player-headline
// player-fact

// team
// definition